<div class='text-center'>
  <div class='col-sm-5' id="welcome-row">
    <h1>Non Profit Donater</h1>
    <h4>Please choose an amount to donate.</h4>
    <ul class="list-unstyled">
      <% @donations.each do |donation| %>
        <div class="col-sm-3">

          <p><%= number_to_currency donation.price, :precision => 0 %></p>
          <p><%= donation.name %></p>
        </div>
      <% end %>
    </ul>
  </div>
</div>
